*{
    margin: 0;
    
}
header {
    background-color: white;
    width: 100%;
    height: 80px;
}
.header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-items: center;
    gap: 30px;


}
.nav-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    
    
}
.header-nav a{
    font-family: arimo ;
    text-decoration: none;
    color: #575757;
    row-gap: 100px;

    
}
.primary-btn {
    background-color: #1D4ED8;
    padding: 15px 22px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    align-items: center;
    cursor: pointer;
}