* {
    margin: 0;

}

body {
    font-family: inter;
}

header {
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
    
}

.header {
   display: flex;
   justify-content: space-between;
   padding: 40px 70px;
   text-align: center;
   align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 20px;


}

.header-nav a {
    font-size: 16px;
    font-family: arimo;
    text-decoration: none;
    color: #575757;
    row-gap: 100px;


}

.primary-btn {
    background-color: #1D4ED8;
    padding: 15px 28px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    align-items: center;
    cursor: pointer;
}

.hero-section {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    color: #FFFFFF;
    text-align: center;
    padding-top: 140px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/banner.jpg');
    height:fit-content;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content h1 {
    max-width: 1200px;
    margin: auto;
    font-size: 80px;
    margin-bottom: 50px;

}

.hero-content p {
    max-width: 1200px;
    margin: auto;
    padding: 0px 150px;
    font-size: 22px;

}

.hero-section .button {
    align-items: center;
    padding: 100px;
    margin-bottom: 100px;


}

.primary-btn:hover {

    background:#1c1d42;

    color:white;}

.speakers h2 {
    font-size: 56px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    color: #000102;
    font-weight: bold;

}

.speaker-card {
    display: grid;
    grid-template-columns: repeat(2.1fr);

}

.display-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    margin: auto;
    column-gap: 18px;
    row-gap: 10px;
    align-items: center;
}

.speaker-card {
    border: 1px solid #E5E7EB;
    border-radius: 10px;

    gap: 20px;
}

.speaker-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 0px 0px;

}

.speaker-info {

    margin-left: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.tag {
    color: #2563EB;
    font-size: 12px;
    margin-bottom: 6px;
}

.speaker-info h3 {
    color: #0D1B2A;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
}

.work {
    color: #575757;
    font-size: 14px;
}

.pricing h2 {
    color: #0D1B2A;
    font-size: 48px;
    font-weight: bold;
    margin-top: 80px;
    text-align: center;

}

.pricing-p {
    margin-bottom: 50px;
    margin-top: 8px;
    color: #575757;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.pricing-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.price-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E7EB;
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
    background-color: #F8F9FB;
}

.price-card-middle {
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E7EB;
    background-color: #0D1B2A;
    margin: 10px;
    padding: 25px;
    border-radius: 10px;

}

.plan-name {
    color: #888888;
    font-size: 13px;


}

.price {
    color: #0D1B2A;
    font-weight: bold;
    font-size: 44px;
}

.price-m {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 44px;
}

.per-m {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 13px;
}

.price-card ul,
.ul-m {
    margin-top: 20px;
    border-top: 1px solid #E5E7EB;
    padding-left: 17px;

}

.price-card li,
.ul-m li {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    position: relative;
    padding-left: 1px;
}

.ul-m li {

    color: #FFFFFF;
}

.price-card li {
    color: #333333;
}



.pro {
    color: #93C5FD;
    size: 13px;
    font-weight: normal;
}



.btn-outline-left {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    padding: 8px 4px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 17px;
    color: #2563EB;
    border: 1px solid #2563EB;
    align-items: center;
    cursor: pointer;
}
.btn-outline-left:hover {

    background:#1c2742;

    color:white;}

.btn-outline-middle {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #2563EB;
    padding: 8px 4px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 17px;
    color: #FFFFFF;
    border: 1px solid #2563EB;
    align-items: center;
    cursor: pointer;
}
.btn-outline-middle:hover {

    background:#1c2742;

    color:white;}

.btn-outline-right {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    padding: 8px 4px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 17px;
    color: #0D1B2A;
    border: 1px solid #0D1B2A;
    align-items: center;
    cursor: pointer;
}
.btn-outline-right:hover {

    background:#1c2742;

    color:white;}

footer{

    width:100%;
    height: fit-content;

    background:#0D1B2A;

    padding:40px 70px;

}

.footer-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo{

    color:white;

    font-size: 38px;

    font-weight:bold;

}

.logo span{

    display:inline-block;

    width:10px;

    height:32px;

    margin-left:8px;

    vertical-align:middle;

}

.social{

    display:flex;

    gap:12px;

}

.social a:hover{

    background:#1c2742;

    color:white;

}

hr{

    border:none;

    border-top:1px solid #26314c;

    margin:40px 0 30px;

}

.footer-bottom{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.footer-bottom p{

    color:#8d98b3;

    font-size:15px;

}

.footer-bottom strong{

    color:white;

}

.links{

    display:flex;

    gap:30px;

}

.links a{

    text-decoration:none;

    color:#8d98b3;

    font-size:15px;

    

}

.links a:hover{

    color:white;

}
